PeerToPeerFileSenderTestTcp/Service References/Powernap/PowerNapService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://jwapowernapservice.azurewebsites.net/PowerNapService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://jwapowernapservice.azurewebsites.net/PowerNapService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SoapService" />
  <xs:element name="Count">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountHost">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountHostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountHostResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountFilename">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountFilenameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountFilenameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="port" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fileList" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="host" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="port" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAllResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="port" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fileList" nillable="true" type="q2:ArrayOfstring" />
        <xs:element minOccurs="0" name="host" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="port" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveAllResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SoapService" minOccurs="0" name="RequestFileResult" nillable="true" type="q3:ContentFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchArchive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchArchiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SoapService" minOccurs="0" name="SearchArchiveResult" nillable="true" type="q4:ArrayOfContentFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendArchive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SoapService" minOccurs="0" name="cfList" nillable="true" type="q5:ArrayOfContentFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendArchiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendArchiveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>